{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}

<!--  -->
<!-- <p class="posts&#45;name">{{ .Title }}:</p> -->
<!--   <ul class="posts"> -->
<!--     {{ $baseurl := .Site.BaseURL }} -->
<!--     {{ range $name, $page := .Data.Pages }} -->
<!--     {{ if eq .Type "post" }} -->
<!--     <li> -->
<!--       <a href="{{ .Permalink }}">{{ $page.Title }}</a> -->
<!--  -->
<!--       <p class="footnote"> -->
<!--       submitted <span>{{ $page.Date.Format "Mon Jan 2, 2006" }}</span> -->
<!--  -->
<!--       {{ if or $page.Params.tags $page.Params.categories $page.Params.series }} -->
<!--       to -->
<!--       {{ end }} -->
<!--  -->
<!--       {{ with $page.Params.tags }} -->
<!--       tags:[ {{ range $page.Params.tags }}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}] -->
<!--       {{ end }} -->
<!--  -->
<!--       {{ with $page.Params.categories }} -->
<!--       categories:[ {{ range $page.Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}] -->
<!--       {{ end }} -->
<!--  -->
<!--       {{ with $page.Params.series }} -->
<!--       series:[ {{ range $page.Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}] -->
<!--       {{ end }} -->
<!--  -->
<!--       </p> -->
<!--     </li> -->
<!--     {{ end }} -->
<!--     {{ end }} -->
<!--   </ul> -->

{{ partial "footer.html" . }}
