{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>
<article>
  {{ .Content }}
</article>
<p>
{{ if eq .Type "post" }}
    <span>{{ .Date.Format "Mon Jan 2, 2006" }}</span>
{{ end }}
  {{ if or .Params.tags .Params.categories .Params.series }} | {{ end }}

  {{ if isset .Params "tags" }}
    tags:{{ range .Params.tags }}
      <a href="/tags/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  {{ end }}

  {{ if isset .Params "categories" }}
    categories:{{ range .Params.categories }}
    <a href="/categories/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  {{ end }}

  {{ if isset .Params "series" }}
    series:{{ range .Params.series }}
      <a href="/series/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  {{ end }}

</p>

{{ if eq .Type "post" }}
<div class="nav-posts">
  {{ if .Next }}
    <a class="next" href="{{.Next.Permalink}}"> {{.Next.Title}}</a>
  {{ end }}

  {{ if .Prev }}
    {{ if eq .Prev.Type "post" }}
      {{ if .Next }}
      ✴
      {{ end }}
      <a class="previous" href="{{.Prev.Permalink}}"> {{.Prev.Title}}</a>
    {{ end }}
  {{ end }}
</div>
{{ end }}

{{ partial "footer.html" . }}

<script src="/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{{ template "_internal/disqus.html" . }}
