<div class="footer-menu">
  <ul>

    <li>
      <a class=" fa fa-rss fa-2x" href="/index.xml" title="RSS Feed"></a>
    </li>

    <li>
      <a class=" fa fa-github fa-2x" href="https://github.com/jon49/" title="Personal Github Account"></a>
    </li>

    <li>
      <a class=" fa fa-twitter fa-2x" href="https://twitter.com/NymanJon" title="Personal Twitter Account"></a>
    </li>

  </ul>
</div>

<footer>
  <p>
  © 2016 Jon Nyman
    <br>
    nymanjon@gmail.com
    <br>
    Hamsters Byte
  </p>
</footer>

</body>
</html>
